#collum {
  width: 100%;
  transition: 0.5s;
}

#collum:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.5s;
}

#delete {
  cursor: pointer;
  transition: 0.5s;
}

#delete:hover {
  transform: scale(1.1) ;
  transition: 0.5s;
}

#delete:active {
  transform: scale(1);
  transition: 0.1s;
}

